.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". logo ."
        ". text ."
        "direccion telefono contacto";

           /* Background */
    background-image: url(/img/background4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* hace que el background siga el scroll */
    height: 100%;
}


.logo {
    grid-area: logo;

    
}

.text {
    grid-area: text;

}

.direccion {
    grid-area: direccion;
    text-align: center;
}

.telefono {
    grid-area: telefono;
    text-align: center;
}

.contacto {
    grid-area: contacto;
    text-align: center;
}

.centrarimg{
    display:block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    position: relative;
    
}
.texto{
    text-align: center;
    font-style: italic;
    color: white;
}

.icono-google, .mobile, .mail{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
